# Ignore everything
/*
/*/

# Except these:
!.gitignore
!.vimrc
!.screenrc
!.screen_layout
!.tmux.conf
!.ycm_extra_conf.py

# Only allow specific configs in .config
!/.config/
/.config/*
!/.config/screen/
!/.config/nvim/
